[Unit]
Description = python3 hedge application
After = network.target

[Service]
Type=forking

LimitNOFILE=infinity
LimitNPROC=infinity
LimitSTACK=infinity
TasksMax=infinity

ExecStartPre=/bin/sleep 10

ExecStart = /bin/bash /opt/local/AccountHedge/src/Startup.sh all
ExecStop = /bin/bash /opt/local/AccountHedge/src/Stop.sh 

Restart=always
RestartSec=5
TimeoutSec=60
RuntimeMaxSec=infinity

KillMode = control-group

[Install]
WantedBy = multi-user.target